html, body {
  margin: 0;
  padding: 0;
  background-color: #f7f0da;
}

* {
  font-family: 'Exo 2';
  box-sizing: border-box;
}

.container {
  height: auto;
}

header, h1, h2, h3 { 
  width: 100%;
  color: hsl(214, 61%, 30%);
}

h1 { font-size: 2em; margin: 5px 0;}
h2 { font-size: 1.5em; margin: 5px 0;}
h3 { font-size: 1.17em; margin: 5px 0;}

a {
  text-decoration: none;
  color: black;
}

p {
  text-align: justify;
  text-indent: 1em;
  line-height: 1.35em;
  margin: 0.35em 0;
}

.main_header {
  display: flex;
  width: 100%;
  height: 120px;
  flex-flow: row wrap;
  align-content: center;
  background-color: hsl(81, 48%, 63%);
}

.main_header > a, a > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_header > a {
  width: 100%;
  height: 100%;
}

a > h1 {
  height: 50px;
  flex-flow: row nowrap;
}

.test {
  padding-left: 20px;
  margin-bottom: 9px;
  font-size: 80px;
}

.hide_show {
  display: flex;  
  width: 100%;
  height: 3.5em;
  justify-content: center;
  align-items: center;
  border-width: 0;
  background-color: hsl(165, 40%, 50%);
/*  background-color: hsl(214, 52%, 31%);*/
}

.hide_show > span {
  font-size: 2em;
  color: hsl(224, 51%, 95%);
}

main {
  display: flex;
  flex-flow: row wrap;
  padding: 5px 15px;
  margin-bottom: 70px;
}

section {
  display: flex;
  flex-flow: row wrap;
}

.info { font-size: 2em; margin: 5px 0;}

.game {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.tables {
  flex-basis: 280px;
  height: auto;
  padding: 10px;
  background-color: hsl(52, 37%, 60%);
}

.tables, .board {
  margin-top: 15px;
}

table {
  width: 100%;
  margin: 15px auto;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1.4em;
}

th {
  height: 40px;
  font-size: 18px;
  padding: 5px 0;
}

td {
  height: 30px;
  font-size: 18px;
  background-color: transparent;
  border: 1px solid black;  
}

.timer {  
  height: 120px;
}

.timer > tbody > tr:first-of-type {
  background-color: hsl(10, 86%, 64%);
}

.timer * {
  text-align: center;
}

.record > tbody > tr:first-of-type {
  background-color: hsl(95, 47%, 53%);
}

.record td:first-child {
  width: 12%;
  text-align: right;
  padding-right: 3px;
}

.board {
  height: 400px;
  width: 400px;
  align-self: center;
}

.puzzle {
  width: 300px;
  height: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border: 6px outset hsl(65, 62%, 46%);
}

.square {
  height: 25%;
  width: 25%;
  display: flex;
  justify-content: center;  
  border: thin solid hsl(213, 5%, 46%);
  background-color: hsl(54, 19%, 24%);
}

.square > span {
  display: flex;
  align-self: center;
  font-size: 2.25em;
  color: hsl(217, 38%, 89%);
}

.empty {
  border: 1px solid hsl(46, 38%, 19%);
  background-color: hsl(46, 61%, 88%);
}


.buttons {
  display: flex;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  justify-content: center;
}

.buttons > button {
  width: 45%;
  height: 100%;
  margin: 0 5px;
  border: 2px solid #729d31;
  font-size: 28px;
  background-color: #DDDBD5;
}

.buttons > button:first-of-type {
  color: #131440;
}

.buttons > button:last-of-type {
  color: #801721;
}

footer {
  position: fixed;
  width: 100%;
  height: 60px;  
  bottom: 0;
  left: 0;
  font-size: 1.25em;
  color: hsl(41, 78%, 84%);
  background-color: hsl(201, 10%, 27%);
}

footer > span {
  display: inline-block;
  padding: 5px 10px;
  font-style: italic;
}

@media screen and (max-width: 400px) {
  body, html {
    font-size: 12px;
  }
  
  h1 { font-size: 1.75em;}
  h2 { font-size: 1.5em;}
  h3 { font-size: 1.25em;}

  .main_header {
    height: 75px;
  }

  a > h1 {
    height: 40px;
  }
  
  h1 > img {
    height: 40px;
  }
  
  .test {
    padding-left: 10px;
    margin-bottom: 5px;
    font-size: 2em;
  }

  main {
    margin-bottom: 60px;
  }
  
  .board {
    
  }

  .puzzle {
    width: 250px;
    height: 250px;    
  }
  
  .square > span {
    font-size: 32px;
  }
}