html, body {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Exo 2';
  box-sizing: border-box;
}

.container {
  width: 920px;
  margin: 0 auto -20px auto;
  background-color: hsl(55, 34%, 79%);
}

header, h1, h2, h3 { 
  width: 100%;
  color: hsl(214, 61%, 30%);
}

h1 { font-size: 2em; margin: 5px 0;}
h2 { font-size: 1.5em; margin: 5px 0;}
h3 { font-size: 1.17em; margin: 5px 0;}

h2, h3 {
  color: hsl(120, 60%, 19%);
}

a {
  text-decoration: none;
  color: black;
}

p {
  text-align: justify;
  text-indent: 1em;
  line-height: 1.5em;
  margin: 0.35em 0;
}

.main-header {
  display: flex;
  width: 100%;
  height: 120px;
  flex-flow: row wrap;
  align-content: center;
  background-color: hsl(81, 48%, 63%);
}

.main-header > a, a > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header > a {
  width: 100%;
  height: 100%;
}

a > h1 {
  height: 50px;
  flex-flow: row nowrap;
}

.test {
  padding-left: 20px;
  margin-bottom: 9px;
  font-size: 80px;
}

.hide-show {
  display: flex;  
  width: 100%;
  height: 3.5em;
  justify-content: center;
  align-items: center;
  border-width: 0;
  background-color: hsl(212, 12%, 31%);
}

.hide-show > span {
  font-size: 2em;
  color: hsl(60, 73%, 49%);
}

main, article, section {
  display: flex;
}

main {
  flex-flow: row nowrap;
  margin-bottom: 70px;
}

article, section {
  flex-flow: row wrap;
  padding: 10px;
}

aside {
  flex-basis: 25%;
  padding: 10px 12px;
  margin: 5px;
  color: hsl(240, 59%, 98%);
  background-color: hsl(212, 12%, 31%);
}

aside h3 {
  color: hsl(60, 89%, 59%); 
}

.about-game {
  flex: 1 0 65%;
}

.game > p {
  padding-bottom: 20px;
}

.tables {
  flex-basis: 280px;
  height: auto;
  padding: 10px;
  border: 2px solid hsl(55, 34%, 40%);
  background-color: hsl(55, 34%, 51%); 
}

.tables h3 {
  text-align: center;
  line-height: 2em;
  color: hsl(0, 68%, 48%);
  background-image: linear-gradient(to bottom, hsl(55, 34%, 56%) 0%, hsl(55, 35%, 82%) 50%, hsl(55, 34%, 56%) 100%);
}

table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1.4em;
}

th {
  height: 40px;
  font-size: 20px;
}

td {
  height: 32px;
  font-size: 18px;
  border: thin solid hsl(55, 34%, 31%);  
  background-color: hsl(46, 64%, 82%);
}

.clock {
  text-align: center;
}

.timer, .record {  
  height: auto;
}

.timer > tbody > tr:first-of-type {
  background-color: hsl(10, 86%, 64%);
}

.record > tbody > tr:first-of-type {
  background-color: hsl(95, 47%, 53%);
}

.record td:first-child {
  width: 12%;
  text-align: right;
  padding-right: 3px;
}

.board {
  height: 400px;
  width: 400px;
  align-self: center;
}

.puzzle {
  width: 300px;
  height: 300px;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  border: 6px outset hsl(65, 62%, 46%);
}

.square {
  height: 25%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.25em;
  border: thin solid hsl(213, 5%, 46%);
  background-color: hsl(54, 19%, 24%);
  color: hsl(217, 38%, 92%);
}

.empty {
  border: 1px solid hsl(46, 38%, 19%);
  background-color: hsl(46, 61%, 92%);
}

.buttons {
  display: flex;
  width: 100%;
  height: 50px;
  margin: 25px 0;
  justify-content: center;
}

.buttons > button {
  width: 35%;
  height: 100%;
  margin: 0 10px;
  border: 4px solid hsl(65, 62%, 46%);
  font-size: 28px;
  color: hsl(0, 0%, 91%);  
}

.buttons > button:hover { 
  border: 6px inset hsl(65, 65%, 35%);
  font-size: 24px;
  background: radial-gradient(ellipse at top, hsl(360, 72%, 65%), transparent), radial-gradient(ellipse at bottom, hsl(233, 86%, 34%), transparent)  
}

.buttons > button:first-of-type {
  background-color: hsl(239, 54%, 16%);
}

.buttons > button:last-of-type {
  background-color: hsl(354, 70%, 30%);
}

footer {
  position: fixed;
  width: 100%;
  height: 60px;  
  bottom: 0;
  left: 0;
  font-size: 1.25em;
  color: hsl(41, 78%, 84%);
  background-color: hsl(201, 10%, 27%);
}

footer > span {
  display: inline-block;
  padding: 5px 10px;
  font-style: italic;
}

@media screen and (max-width: 400px) {
  body, html {
    font-size: 12px;
  }
  
  h1 { font-size: 1.75em;}
  h2 { font-size: 1.5em;}
  h3 { font-size: 1.25em;}

  .main-header {
    height: 75px;
  }

  a > h1 {
    height: 40px;
  }
  
  h1 > img {
    height: 40px;
  }
  
  .test {
    padding-left: 10px;
    margin-bottom: 5px;
    font-size: 2em;
  }

  main {
    margin-bottom: 60px;
  }
  
  .board {
    
  }

  .puzzle {
    width: 250px;
    height: 250px;    
  }
  
  .square > span {
    font-size: 32px;
  }
}